[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
